@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "404";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes permiso para ver esto.</p>
</header>
