@page "/about"

<iframe width="560" height="315" src="https://youtu.be/vUcVR28zlKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Acceda desde (((<a href="https://youtu.be/vUcVR28zlKQ">aquí</a>))) o desde el boton en el menu de navegacion si ve un error.</p>

<MudCard>
    <MudCardMedia Image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn7MKlQhAF1FIZK1U9bnP7MIOhMjZnXOzwozgvbuL1j2csThxkvpmgMqdmvxuEzvL5Txs&usqp=CAU" Height="250" />
    <MudCardContent>
        <MudText Typo="Typo.h4">Presentacion</MudText>
        <MudText Typo="Typo.h5">Nombre: Brian Dariel Lorenzo Lorenzo.</MudText>
        <MudText Typo="Typo.h5">Matricula: 2019-8375.</MudText>
        <MudText Typo="Typo.h5">Correo: 20198375@itla.edu.do.</MudText>
        <MudText Typo="Typo.h5">hobby: Escuchar Musica.</MudText>
    </MudCardContent>

    <MudCardMedia Image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn7MKlQhAF1FIZK1U9bnP7MIOhMjZnXOzwozgvbuL1j2csThxkvpmgMqdmvxuEzvL5Txs&usqp=CAU" Height="250" />
    <MudCardContent>
        <MudText Typo="Typo.h4">Presentacion</MudText>
        <MudText Typo="Typo.h5">Nombre: Kelvin Ariel Hernandez</MudText>
        <MudText Typo="Typo.h5">Matricula: 2019-8680.</MudText>
        <MudText Typo="Typo.h5">Correo: 20198680@itla.edu.do.</MudText>
        <MudText Typo="Typo.h5">hobby: Leer.</MudText>
    </MudCardContent>

</MudCard>




@code{
    private bool arrows = true;
    private bool delimiters = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

}

